.navbar__container {
  background-color: #087990;
  width: 100%;
  height: 64px;
  padding: 0px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__header {
  color: #ffffff;
  cursor: pointer;
}
